<div class="card border-primary mt-5 mb-3 mr-5 ml-5" >
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Clients list</h5>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" [routerLink] = "['/clients/form']">Create client</button>
  </div>

  <div *ngIf="clients?.length == 0" class="alert  text-white alert-primary  empty-clients">
   you don`t have any client created!
  </div>
  <table class="table table-bordered table-striped" *ngIf="clients?.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
        <td><button type="button" name="edit" [routerLink]="['/clients/form', client.id]" class="btn btn-primary">Edit</button></td>
        <td><button type="button" name="delete" (click)='delete(client)' class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
  </table>
  <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
  </div>
</div>
